html{
    background-color:black;
}


#navbar{
    background:black;
    height:30px;
    border:5px solid white;
    margin-top:1px;
    padding:10px;
}
a{
    color:white;
    margin-right:110px; 
    font-size:20px;
    font-style: oblique;
    padding:20px;
    text-decoration: none;

}
h1{
    display:inline;
    text-align:start;
    font-size:50px;
    color:white;
    font-family:"Bebas Neue", sans-serif;
}

h2{
    font-size:35px;
    text-align:left;
    color:white;
    font-family:"Bebas Neue", sans-serif;
    padding:10px;
    margin-top:20px;
}
.secthree{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    height:500px;
    
    
    
}
img{
    height:360px;
    width:400px;
     margin-left:70px; 
    float:right;
}
#box{
    
    color:whitesmoke;
    text-align:left;
    padding:30px; 
    font-size:28px;
    margin-top:1px;
    
}
#quotestwo{
    font-size:28px;
    color:white;
    height:250px;
    width:90%;
    text-align:right;
    padding:70px;
    margin-top:20px;
    
}
#quote-img{
    height:350px;
    width:400px;
    margin-right:70px; 
    float:left;

}
#pic{
    background:black;
    height: 400px;
    display:flex;
    justify-content: space-evenly;
    align-items:normal;

}


.home{
    height:300px;
    width:300px;
    position: relative;
    top:20px;
    right:20px; 
    border-bottom: 60px solid white;   
}
.caption{
    color: black;
    font-size:16px;
    position:absolute;
    margin-top:330px;
    margin-left:55px;
}

.aboutus{
    height:400px;
    background-image:url("about.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background:rgb(5, 32, 35);
    color:white;
    height: 80px;
    width:160px;
    border-radius: 5%;
    
}
footer{
    display: flex;
    height:40px;
    background:black;
    color:white;
    font-size:20px;
    justify-content: center;
}





